@model ozo.Models.OsobaCertifikat

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>OsobaCertifikat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OsobaCertifikatId" />
            <div class="form-group">
                <label asp-for="OsobaId" class="control-label"></label>
                <select asp-for="OsobaId" class="form-control" asp-items="ViewBag.OsobaId"></select>
                <span asp-validation-for="OsobaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertifikatId" class="control-label"></label>
                <select asp-for="CertifikatId" class="form-control" asp-items="ViewBag.CertifikatId"></select>
                <span asp-validation-for="CertifikatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

