@model ozo.Models.ViewUsluga

@{
    ViewData["Title"] = "Edit";
}



<h1>Uređivanje usluge</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UslugaId" />
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategorijaPoslaId">Kategorija posla</label>
                <div><span asp-validation-for="KategorijaPoslaId" class="text-danger" /></div>
                <select class="form-control" asp-for="KategorijaPoslaId" asp-items="ViewBag.katPosla">
                    <option disabled selected value="">Odaberite kategoriju posla</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="ReferentniTipOpremeId">Referentni tip opreme</label>
                <div><span asp-validation-for="ReferentniTipOpremeId" class="text-danger" /></div>
                <select class="form-control" asp-for="ReferentniTipOpremeId" asp-items="ViewBag.TipOpreme">
                    <option disabled selected value="">Odaberite referentni tip opreme</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="ZanimanjeId">Zanimanje </label>
                <div><span asp-validation-for="ZanimanjeId" class="text-danger" /></div>
                <select class="form-control" asp-for="ZanimanjeId" asp-items="ViewBag.TipZanimanja">
                    <option disabled selected value="">Odaberite zanimanje</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-lg" type="submit"><span class="glyphicon glyphicon-plus"></span> Dodaj</button>
                <a asp-action="" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove"></span> Odustani</a>
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
