@model ozo.Models.Servis

@{
    ViewData["Title"] = "Create";
}
<h2 class="text-center">Dodavanje servisa</h2>

<hr />



<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">

        <label asp-for="ServiserId">Serviser </label>
        <div><span asp-validation-for="ServiserId" class="text-danger" /></div>
        <select class="form-control" asp-for="ServiserId" asp-items="ViewBag.ServiserList">
            <option disabled selected value="">Odaberite servisera</option>
        </select>

    </div>
    <div class="form-group">

        <label asp-for="OpremaId">Oprema </label>
        <div><span asp-validation-for="OpremaId" class="text-danger" /></div>
        <select class="form-control" asp-for="OpremaId" asp-items="ViewBag.OpremaList">
            <option disabled selected value="">Odaberite opremu</option>
        </select>

    </div>

    <div class="form-group">
        <label asp-for="OsobaId">Osoba</label><label style="font-size:12px; float:right;">*autocomplete</label>
        <div><span asp-validation-for="OsobaId" class="text-danger"></span></div>
        <input class="form-control" data-autocomplete="Servis"
               data-autocomplete-result="imeosobe"
               value="" />
        <input type="hidden" asp-for="OsobaId" data-autocomplete-result="imeosobe" />
    </div>


    <div class="form-group">
        <label asp-for="Opis"></label>
        <div><span asp-validation-for="Opis" class="text-danger" /></div>
        <input asp-for="Opis" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Cijena"></label>
        <div><span asp-validation-for="Cijena" class="text-danger" /></div>
        <input asp-for="Cijena" class="form-control" />
    </div>



    <hr />
    <div class="text-center">
        <button class="btn btn-primary btn-lg" type="submit"><span class="glyphicon glyphicon-plus"></span> Dodaj</button>
        <a asp-action="" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove"></span> Odustani</a>
    </div>
</form>
<br/>

<div class="text-center">
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>

    <script src="~/js/autocomplete.js"></script>

}
@section styles{
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
}