@{
    ViewData["Title"] = "Report";
}

<h2 class="meni_l" align="center"><b>IZVJEŠĆA          </b><span class="glyphicon glyphicon-pencil"></span></h2>
<hr />
<div class="row">
    <a target="_blank" class="btn btn-block btn-default btn-lg" asp-action="Osoba"><b>POPIS OSOBA</b></a>
    <a target="_blank" class="btn btn-block btn-default btn-lg" asp-action="Oprema"><b>POPIS OPREME</b></a>
    <a target="_blank" class="btn btn-block btn-default btn-lg" asp-action="Usluga"><b>POPIS USLUGA</b></a>
    <a target="_blank" class="btn btn-block btn-default btn-lg" asp-action="Natjecaj"><b>POPIS NATJECAJA</b></a>
    <a target="_blank" class="btn btn-block btn-default btn-lg" asp-action="Najam"><b>POPIS NAJMOVA</b></a>
    <a target="_blank" class="btn btn-block btn-default btn-lg" asp-action="Posao"><b>POPIS POSLOVA</b></a>
    <a target="_blank" class="btn btn-block btn-default btn-lg" asp-action="Servis"><b>POPIS SERVISA</b></a>

</div>
