
@{
    Layout = "_Layout";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OZO-Organ za organiziranje</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

</head>
<body>
    <!--header-->
    <!--/ header-->
    <!---->
    <!---->
    <!---->
    <div>

        <img class="center" align="middle" src="img/pocetna.jpg" />

    </div>
    <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h3 class="head-title" id="events"><b>IZBORNIK</b></h3>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 wow fadeInRight delay-02s">
                        <div class="icon-text">
                            <img src="../img/oprema.jpg" alt="oprema" class="image" asp-controller="Oprema" asp-action="Index" onclick="location.href='Oprema/Index'" />
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight delay-02s">
                        <div class="icon-text">
                            <img src="img/osobe.jpg" alt="osobe" class="image" asp-controller="Osoba" asp-action="Index" onclick="location.href='Osoba/Index'" />
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight delay-04s">
                        <div class="icon-text">
                            <img src="img/usluga.jpg" alt="usluga" class="image" asp-controller="Usluga" asp-action="Index" onclick="location.href='Usluga/Index'" />
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight delay-04s">
                        <div class="icon-text">
                            <img src="img/natjecaj.jpg" alt="natjecaj" class="image" asp-controller="Natjecaj" asp-action="Index" onclick="location.href='Natjecaj/Index'" />
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight delay-06s">
                        <div class="icon-text">
                            <img src="img/najam.jpg" alt="najam" class="image" asp-controller="Najam" asp-action="Index" onclick="location.href='Najam/Index'" />
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight delay-06s">
                        <div class="icon-text">
                            <img src="img/posao.jpg" alt="posao" class="image" asp-controller="Posao" asp-action="Index" onclick="location.href='Posao/Index'" />
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight delay-06s">
                        <div class="icon-text">
                            <img src="img/servis.jpg" alt="servis" class="image" asp-controller="Servis" asp-action="Index" onclick="location.href='Servis/Index'" />
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight delay-06s">
                        <div class="icon-text">
                            <img src="img/izvjesca.jpg" alt="izvjesca" class="image" asp-controller="Report" asp-action="Index" onclick="location.href='Report/Index'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <!---->
    <section class="section-padding wow fadeInUp delay-02s" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="section-title">
                        <h2 class="head-title">O nama</h2>
                        <hr class="botm-line">
                        <p class="sec-para">Grupa 1.:<br /> Stipica Klepic <br /> Jurica Raspudic <br /> Frano Šaric <br /> Nikola Butigan <br /> Antonio Markić <br /> Vedran Miletić</p>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="img/port01.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="img/port02.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="img/port03.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="img/port04.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="img/port05.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="img/port06.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <!---->
    <!---->
    <footer class="" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 footer-copyright">

                    <div class="credits">

                        Dizajnirano od <a href="https://github.com/fsr-pi/webapp-grupa1">Grupe 1</a>
                    </div>
                </div>
                <div class="col-sm-5 footer-social">
                    <div class="pull-right hidden-xs hidden-sm">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!---->
    <!--contact ends-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>
</body>
</html>
